<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Which books are you looking for?" (keyup)="searchBooks($event.target.value)" [(ngModel)]="search"> 
    </div>
 </div>


 <div *ngIf="currentBooksList">
     <div *ngFor="let bookTemplate of currentBooksList">
    <app-product-preview [currentBook]="bookTemplate.volumeInfo"> </app-product-preview>
 </div>
</div>




<!--  <div class="flip" onload="collec()">
    <div id="back"><img src="http://downloadicons.net/sites/default/files/back-button-icon-28042.png" id="bacbut" onclick="movebac()"></div>
    <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fk-logo_9fddff.png" id="pic">
    <button id="switch"><input type="text" placeholder="Search for books" id="put">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/14173-200.png" id="search">

    </button>

    <div class="kart" onclick="gonext()">
        <img src="https://cdn1.iconfinder.com/data/icons/social-productivity-line-art-4/128/shopping-cart1-512.png" id="cart" />
        <div id="let">CART</div>
        <div id="num">0</div>

    </div>
    <div id="disp">

        <div class="prelist">
            <div class="listing">

 <div id="one" onclick="detailview(this)" style='background-image:url(`${}`)'
                    title="One Indian Girl">
                    <ul id="one1">
                        <li id="one2"> <b>One Indian Girl </b> (English, Paperback, Chetan Bhagat)</li><br>
                        <li id="one3"> <b>&#8377;88 <span id="cut">&#8377;176</span> <span id="peren">50% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Chetan Bhagat</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Rupa Publications India</li>
                        <li><b>ISBN:</b> 9788129142146, 8129142147</li>
                        <li><b>Edition:</b> 1, 2016</li>
                        <li><b>Pages:</b> 280</li>
                    </ul>
                </div> 
                <div id="two" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/4/6/6/wings-of-fire-an-autobiography-original-imaer2yzjmz5tzuj.jpeg?q=70")'
                    title="Wings of Fire: An Autobiography 1st Edition">
                    <ul id="two1">
                        <li id="two2"> <b>Wings of Fire: An Autobiography 1st Edition </b> (English, Paperback, Arun Tiwari,
                            APJ Abdul Kalam)</li><br>
                        <li id="two3"> <b>&#8377;210 <span id="cut">&#8377;325</span> <span id="peren">35% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> APJ Abdul Kalam,Arun Tiwari</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Universities Press</li>
                        <li><b>ISBN:</b> 9788173711466, 8173711461</li>
                        <li><b>Edition:</b> 1st Edition</li>
                        <li><b>Pages:</b> 180</li>
                    </ul>
                </div>
               <div id="tree" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/832/832/book/4/4/6/the-rise-of-sivagami-original-imaesazzthcgmmfh.jpeg?q=70")'
                    title="The Rise of Sivagami : Bahubali : Before The Beginning">
                    <ul id="tre1">
                        <li id="tre2"> <b> Bahubali : Before The Beginning </b> (English, Paperback, Anand Neelakantan)</li><br>
                        <li id="tre3"> <b>&#8377;150 <span id="cut">&#8377;299</span> <span id="peren">49% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Anand Neelakantan</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Westland</li>
                        <li><b>ISBN:</b> 9789386224446, 9386224445</li>
                        <li><b>Edition:</b> First, 2017</li>
                        <li><b>Pages:</b> 490</li>
                    </ul>
                </div>
                <div id="four" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/5/7/2/the-jim-corbett-omnibus-vol-1-original-imaef4a6fmwd7sra.jpeg?q=70")'
                    title="The Jim Corbett Omnibus">
                    <ul id="fou1">
                        <li id="fou2"> <b>The Jim Corbett Omnibus </b> (English, Paperback, Jim Corbett, Ruskin Bond)</li><br>
                        <li id="fou3"> <b>&#8377;251 <span id="cut">&#8377;295</span> <span id="peren">14% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Ruskin Bond,Jim Corbett</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Rupa Publications India</li>
                        <li><b>ISBN:</b> 9788129136572, 8129136570</li>
                        <li><b>Edition:</b> 2016</li>
                        <li><b>Pages:</b> 456</li>
                    </ul>
                </div>
                <div id="five" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/8/4/5/history-of-modern-india-original-imads8nsnfkfn4pr.jpeg?q=70")'
                    title="History of Modern India 1st Edition">
                    <ul id="fiv1">
                        <li id="fiv2"> <b>History of Modern India 1st Edition</b> (English, Paperback, Bipan Chandra)</li><br>
                        <li id="fiv3"> <b>&#8377;275 <span id="cut">&#8377;395</span> <span id="peren">39% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Bipan Chandra</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Orient Blackswan</li>
                        <li><b>ISBN:</b> 9788125036845, 8125036849</li>
                        <li><b>Edition:</b> 1stEdition, 2009</li>
                        <li><b>Pages:</b> 351</li>
                    </ul>
                </div>
                <div id="six" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/832/832/book/5/6/0/problems-in-general-physics-original-imaegg7nmr3xfhh5.jpeg?q=70")'
                    title="Problems In GENERAL PHYSICS ">
                    <ul id="six1">
                        <li id="six2"> <b>Problems In GENERAL PHYSICS</b> (English, Paperback, IE Irodov)</li><br>
                        <li id="six3"> <b>&#8377;98 <span id="cut">&#8377;710</span> <span id="peren">44% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b>IE Irodov</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Arihant</li>
                        <li><b>ISBN:</b> 9789351762560, 9351762564 </li>
                        <li><b>Edition:</b> 2016</li>
                        <li><b>Genre: </b> Academic & Test Preparation</li>
                    </ul>
                </div>
                <div id="seven" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/6/3/3/indian-polity-original-imaen4zhg2kms3qh.jpeg?q=70")'
                    title="Indian Polity 5 Edition">
                    <ul id="sev1">
                        <li id="sev2"><b>Indian Polity 5 Edition </b> (English, Paperback, M. Laxmikanth)</li><br>
                        <li id="sev3"><b>&#8377;393 <span id="cut">&#8377;199</span> <span id="peren">35% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b>M. Laxmikanth</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> McGraw Hill Education</li>
                        <li><b>ISBN:</b> 9789352603633, 935260363X </li>
                        <li><b>Edition:</b> 5, 2016</li>
                        <li><b>Pages:</b> 852</li>
                    </ul>
                </div>
                <div id="eight" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/j4n1x8w0/book/4/9/0/forever-is-a-lie-original-imaevdvbgcjzzjfq.jpeg?q=70")'
                    title="Forever is a Lie">
                    <ul id="eig1">
                        <li id="eig2"><b>Forever is a Lie </b> (English, Paperback, Novoneel Chakraborty)</li><br>
                        <li id="eig3"><b>&#8377;129 <span id="cut">&#8377;199</span> <span id="peren">35% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Novoneel Chakraborty</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Penguin Random House India</li>
                        <li><b>ISBN:</b> 9780143427490, 0143427490 </li>
                        <li><b>Edition:</b> NA, 2017</li>
                        <li><b>Pages:</b> 288</li>
                    </ul>
                </div>
                <div id="nine" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/5/3/7/revolution-twenty20-original-imaeyg6y9hhutyry.jpeg?q=70")'
                    title="Revolution Twenty 20">
                    <ul id="nin1">
                        <li id="nin2"><b>Revolution Twenty20 </b> (English, Paperback, Chetan Bhagat)</li><br>
                        <li id="nin3"><b>&#8377;88 <span id="cut">&#8377;176</span> <span id="peren">50% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Chetan Bhagat</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Rupa Publications India</li>
                        <li><b>ISBN:</b> 9788129135537, 8129135531 </li>
                        <li><b>Edition:</b> 2014</li>
                        <li><b>Pages:</b> 296</li>
                    </ul>
                </div>
                <div id="den" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/j73n8280/book/6/6/9/harry-potter-and-the-chamber-of-secrets-original-imaex9bkwythrytd.jpeg?q=70")'
                    title="Harry Potter and the Chamber of Secrets">
                    <ul id="den1">
                        <li id="den2"><b>Harry Potter and the Chamber of Secrets </b> (English, Paperback, J. K. Rowling)</li><br>
                        <li id="den3"><b>&#8377;251 <span id="cut">&#8377;399</span> <span id="peren">37% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> J. K. Rowling</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Bloomsbury Publishing (IN)</li>
                        <li><b>ISBN:</b> 9781408855669, 1408855666 </li>

                    </ul>
                </div>
                <div id="eleven" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/j27w2a80/book/5/8/3/sita-warrior-of-mithila-book-2-original-imaetmgqrhybv77e.jpeg?q=70")'
                    title="Sita-Warrior of Mithila">
                    <ul id="ele1">
                        <li id="ele2"><b>Sita-Warrior of Mithila </b> (English, Paperback, Amish)</li><br>
                        <li id="ele3"><b>&#8377; 283 <span id="cut">&#8377;350</span> <span id="peren">19% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Amish</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Westland</li>
                        <li><b>ISBN:</b> 9789386224583, 9386224585 </li>
                        <li><b>Edition:</b> First, 2017</li>
                        <li><b>Pages:</b> 376</li>
                    </ul>
                </div>
                <div id="twelve" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/4/3/5/all-rights-reserved-for-you-original-imaenn2fhkz9rfbx.jpeg?q=70")'
                    title="All Rights Reserved for Yo">
                    <ul id="twe1">
                        <li id="twe2"><b>All Rights Reserved for You </b> (English, Paperback, Sudeep Nagarkar)</li><br>
                        <li id="twe3"><b>&#8377;100 <span id="cut">&#8377;199</span> <span id="peren">49% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Sudeep Nagarkar</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Penguin Random House India</li>
                        <li><b>ISBN:</b> 9788184007435, 8184007434 </li>
                        <li><b>Edition:</b> 1, 2016</li>
                        <li><b>Pages:</b> 256</li>
                    </ul>
                </div>
                <div id="thirteen" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/5/3/2/an-unsuitable-boy-original-imaephqddbjyycmh.jpeg?q=70")'
                    title="An Unsuitable Boy">
                    <ul id="thi1">
                        <li id="thi2"><b>An Unsuitable Boy </b> (English, Hardcover, Karan Johar, Poonam Saxena)</li><br>
                        <li id="thi3"><b>&#8377;350 <span id="cut">&#8377;699</span> <span id="peren">49% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Karan Johar,Poonam Saxena</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Penguin Random House India</li>
                        <li><b>ISBN:</b> 9780670087532, 067008753 </li>
                        <li><b>Edition:</b> 2017</li>
                        <li><b>Pages:</b> 352</li>
                    </ul>
                </div>
                <div id="forteen" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/1/7/8/mission-overseas-original-imaes3az3gcmegfh.jpeg?q=70")'
                    title="Mission Overseas">
                    <ul id="for1">
                        <li id="for2"><b>Mission Overseas </b> (English, Paperback, Sushant Singh)</li><br>
                        <li id="for3"><b>&#8377;269 <span id="cut">&#8377;299</span> <span id="peren">10% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Sushant Singh</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Juggernaut</li>
                        <li><b>ISBN:</b> 9789386228178, 9386228173 </li>
                        <li><b>Edition:</b> NA, 2017</li>
                        <li><b>Pages:</b> 216</li>
                    </ul>
                </div>
                <div id="fifteen" onclick="detailview(this)" style='background-image:url("https://rukminim1.flixcart.com/image/312/312/book/4/6/2/norse-mythology-original-imaescf4pzehm73f.jpeg?q=70")'
                    title="Norse Mythology">
                    <ul id="fif1">
                        <li id="fif2"><b>Norse Mythology </b> (English, Paperback, Neil Gaiman)</li><br>
                        <li id="fif3"><b>&#8377;269 <span id="cut">&#8377;499</span> <span id="peren">41% off</span> <img
                                    src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" id="assure"></b></li><br>
                        <li><b>Author:</b> Neil Gaiman</li><br><br>
                        <li><b>Language:</b> English</li>
                        <li><b>Binding:</b> Paperback</li>
                        <li><b>Publisher:</b> Bloomsbury Publishing</li>
                        <li><b>ISBN:</b> 9781408890462, 1408890461 </li>
                        <li><b>Edition:</b> India EPZ Edition</li>
                    </ul>
                </div> 
                <button id="butlef" onclick="leftmove()"> &#10092;</button>
                <button id="butright" onclick="rightmove()">&#10093;</button>
            </div>
        </div>
      
    </div>

</div>
<div id="display">
    <div id="layout">
    </div>
    <button id="add" onclick="addcart()"><img src="https://cdn1.iconfinder.com/data/icons/social-productivity-line-art-4/128/shopping-cart1-512.png"
            id="addimg">ADD TO CART</button>
    <button id="buy" onclick="buynow()"><img src="http://www.myiconfinder.com/uploads/iconsets/256-256-770f0fc3155a11761f314bba776e5b8a-thunder.png"
            id="buyimg">BUY NOW</button>
    <div id="siding"></div>
</div>
<div id="head">MY CART
    <div id="remall" onclick="removeall()">Remove all</div>
</div>
<div id="pagecart">
    <p id="emp">EMPTY CART &#9888;</p>
</div>-->
<!-- <script>
 var ides=["one","two","tree","four","five","six","seven","eight","nine","den","eleven","twelve","thirteen","forteen","fifteen"];
var count=350;
var end=0; 
var book;
var val;
var valu; 
var img;
var add=0;
var remove=1;
var showid=["one1","two1","tre1","fou1","fiv1","six1","sev1","eig1","nin1","den1","ele1","twe1","thi1","for1","fif1"];
var num=0;
var thissid=0;
var height=550;
var array;
var minus=0;

function leftmove(){
    
      if(end>0){
          end--;
      for(i=0;i<15;i++){    
        document.getElementById(ides[i]).style.transform+="translate(300px,0px)";
         
    }  
      }
    
    }

function rightmove(){
          if(end<10){ 
            end++;  
    for(i=0;i<15;i++){
        document.getElementById(ides[i]).style.transform+="translate(-300px,0px)";
    }
        }
        
}

function detailview(thiss){
    document.getElementById("head").style.display="none";
    document.getElementById("back").style.display="block";
    document.getElementById("disp").style.display="none";
    document.getElementById("display").style.display="block";
    document.getElementById("layout").style.backgroundImage=thiss.style.backgroundImage;
    for(i=0;i<15;i++){
    document.getElementById(showid[i]).style.display="block";
    } 
    document.getElementById("siding").innerHTML=thiss.innerHTML; 
     book = thiss.id.substring(0,3);
     img = document.getElementById(thiss.id).style.backgroundImage;
     img = encodeURIComponent(img);
      val=document.getElementById(book+"2").innerText;
     valu=document.getElementById(book+"3").innerText;
     document.getElementById("pagecart").style.display="none"; 
}

function movebac(){
    document.getElementById("head").style.display="none";
    document.getElementById("back").style.display="none";
    document.getElementById("display").style.display="none";
    document.getElementById("disp").style.display="block";
     for(i=0;i<15;i++){
    document.getElementById(showid[i]).style.display="none";
    } 
    document.getElementById("pagecart").style.display="none";
}
function gonext(){
          array=document.cookie.split("; ");
        console.log(array);
        console.log(array[0].length);
        if(array[0].length>10)
        {
            document.getElementById("pagecart").innerHTML="";
            for(i=0;i<array.length;i+=1)
            {
                console.log("hi");
                document.getElementById("pagecart").innerHTML+="<br><div style='width: 1200px;height: 500px;background:white;margin:auto;'><div class='cart0' style='height:400px;width: 300px;background:red;margin-top: 50px;margin-left: 4%;position: absolute;'></div><div class='cart1' style='width:700px;height:100px;background:white;font-size:30px; font-family: sans-serif;position: absolute;margin: 90px 0px 0px 470px'></div><div class='cart2' style='width:500px;height:80px;font-size:53px;background:white;background-size:cover;position:absolute;margin:200px 0px 0px 470px'></div><p id='remo' onclick='itemrem()'>Remove Item</p></div>";
                 
            }
            minus+=20;
            var gett=array.length*height-minus;
                 document.getElementById("pagecart").style.height=(gett+"px"); 
              document.getElementById("num").innerText=array.length;
              
              var take=document.cookie.split(";");
             
                for(i=0;i<array.length;i++){
                  takee=take[i].split("=");
               
              document.getElementsByClassName("cart1")[i].innerHTML=takee[0];  
              var talk=takee[1].split("&");
              var talkk=talk[0];
              var sub=talkk.substring(0,4);
                  document.getElementsByClassName("cart2")[i].innerHTML=sub; 
                  var bu=talk[1];
                  var but=bu.substring(4,bu.length-1);
                  butt=decodeURIComponent(but);
                  document.getElementsByClassName("cart0")[i].innerHTML="<img src="+butt+"  id='cove'/>"; 
                 
          }
                
        }
    document.getElementById("head").style.display="block";
      document.getElementById("back").style.display="block";          
      document.getElementById("disp").style.display="none";
      document.getElementById("display").style.display="none";
      document.getElementById("pagecart").style.display="block";
      var ans = document.cookie.split("=");
      console.log(ans);
  
      }
    
  function addcart(){
       
        document.cookie = val+"="+valu+"&"+img+"; path=/";
          alert("ITEM SUCCESSFULLY ADDED TO THE CART.");
            gonext();
            
            }
            
            function removeall(){
                for(i=0;i<array.length;i++){
                   
                     var removeall=document.cookie.split("; ");
                      var removee=removeall.split("=");
                      var remoit=removee[0];
                      alert(remoit);
                  document.cookie = remoit+ '=;";expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';   
                  gonext();
                  }

            }
            function itemrem(){
            
            }
</script>  -->