<nav>
    <ul class="font">
        <li> <a class="font" [routerLink]="['login']"> login</a></li>
        <li><a class="font" [routerLink]="['register']">register </a></li>
        <li *ngIf="currentCustomer"><a (click)="logoutCustomer()">logout</a></li>
    </ul>
    <!-- <button type="button" id="btnAccount" ><a [routerLink]="['login']"> login</a></button>
<button type="button" id="btnProducts" ><a [routerLink]="['register']">register</a></button>
<button *ngIf="true" type="button" id="btnCart" (click)="logoutCustomer()">logout </button> -->
</nav>
<div class="router-outlet">
    <router-outlet></router-outlet>
</div>