

<div *ngIf="currentBook" class="component">
    <div class="book">
        <!-- Front -->
        <ul class='hardcover_front'>
            <li>
                <img *ngIf="currentBook.imageLinks?currentBook.imageLinks.thumbnail:null" [src]='currentBook.imageLinks.thumbnail'
                    alt="" width="100%" height="100%">
                <span class="ribbon bestseller">NEW</span>
            </li>
            <li></li>
        </ul>
        <!-- Pages -->
        <ul class='page'>
            <li></li>
            <li>
                <a (click)="addCustomerCart()" *ngIf="customer" class="btn"> add to my Cart</a>
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- Back -->
        <ul class='hardcover_back'>
            <li></li>
            <li></li>
        </ul>
        <ul class='book_spine'>
            <li>hyffffffffffffff</li>
            <li>hghfffffffffffffff</li>
        </ul>
        <div class="figcaption">
            <div *ngIf="currentBook.title" class="product-name">
                <h1>
                    {{currentBook.title}}
                </h1>
            </div>
            <div *ngIf="currentBook.subtitle" class="product-price">
                <span> {{currentBook.subtitle}} </span>
            </div>
            <div *ngIf="currentBook.language" class="product-name">
                <p> {{currentBook.language}} </p>
            </div>
            <div *ngIf="currentBook.pageCount" class="product-price">
                <P> {{currentBook.pageCount}}</P>
            </div>
            <div *ngIf="currentBook.publishedDate" class="product-name">
                <p>{{currentBook.publishedDate}}</p>
            </div>
            <div *ngIf="currentBook.publisher" class="product-name">
                <p>{{currentBook.publisher}}</p>
            </div>
        </div>
    </div>
</div>
<div class="Row">
        <div class="col-xs-4 col-sm-4"></div>
      <button type="button" class="col-xs-4 col-sm-4" (click)="backProductsPage()">back to all Products</button>
        </div>
      