<div *ngIf="currentBook">
<!-- <li>title:         {{currentBook.title}}</li>
<li>subtitle:      {{currentBook.subtitle}}</li>

<div *ngIf="currentBook.imageLinks">
<img *ngIf="currentBook.imageLinks.smallThumbnail" [src]='currentBook.imageLinks.smallThumbnail'>
<img *ngIf="currentBook.imageLinks.thumbnail" [src]='currentBook.imageLinks.thumbnail'>
</div>

<button type="button" (click)="clearSpecificBookOfCustomer()">deleate from my Cart</button>
 <ng-template #noKnown>
          No saved information
</ng-template> -->




<div class="product-preview">
    <div class="thumbnail warpImg">
      <img class="image" *ngIf="currentBook.imageLinks?currentBook.imageLinks.thumbnail:null" [src]='currentBook.imageLinks.thumbnail'> 
    </div>
    <div class="product-paper">
      <div class="product-name">
        Cupcake
      </div>
      <div class="product-price">
        $ 4.90
      </div>
    </div>
  </div> 
  <div class="product-quantity">
    x2
  </div>
  <div class="product-interactions">
    <div class="button plus">
      +
    </div>
    <div class="button minus">
        <i class="icon-size"  (click)="clearSpecificBookOfCustomer()" title="deleate from my Cart">
            <span class="glyphicon1 glyphicon-trash icon-size"></span>
        </i>
    </div>
    <div class="button del"></div>
  </div>
</div>


  


