<section id="main" *ngIf="currentBook">
        <div class="card">
      <!-- 
            <img class="image cover" *ngIf="currentBook.imageLinks?currentBook.imageLinks.thumbnail:null" [src]='currentBook.imageLinks.thumbnail'>
          -->
          <img class="image cover"
           src="https://static1.squarespace.com/static/513a230ae4b0f3422dd7d5ad/51704e68e4b054b6c22c2cb6/57a6a61a579fb3dbed168c68/1470539314234/premade-scifi-planet-space-ufo-indie-e-book-covers.jpg"
          />
       
        <div class="book-info">
          <div class="title">{{currentBook.title}}</div>
          <div *ngIf="currentBook.authors">
            <div class="byline" *ngFor="let author of currentBook.authors;let i=index">
              {{author}}
            </div>
          </div>
          <div class="rating"><span class="stars"></span><span class="votes">181 votes</span></div>
          <div class="about">
            <p> {{currentBook.subtitle}} </p>
          </div>
        </div>
        <div class="likes">
          <div *ngIf="currentBook.imageLinks">
            <span class="image-container">
              <img *ngIf="currentBook.imageLinks.smallThumbnail" [src]='currentBook.imageLinks.smallThumbnail'>
            </span>
          </div>
      
          <!-- <button type="button" class="deleteButton" (click)="clearSpecificBookOfCustomer()" title="deleate from my Cart"> 
             <i class="fa fa-search"  (click)="clearSpecificBookOfCustomer()" title="deleate from my Cart"></i>
            </button> -->
            <i class="icon-size"  (click)="clearSpecificBookOfCustomer()" title="deleate from my Cart">
                <span class="glyphicon1 glyphicon-trash icon-size"></span>
            </i>
      
        </div>
        </div>
      </section>

      