    <header class="header" data-menustate="closed">
        <div class="grid-item  grid-item--primary">
            <img src="./../../../assets/images/booksstore.png" class="object-fit" alt="chair">

        </div>
        <div class="grid-item grid-item--secondary  grid-item--content">
            <article class="article  article--align-right">
                <h5 class="rotate rotate--right">Create By<br/>Rachel Chaya</h5>
            </article>
            <article class="article">
                <h4><span>2017</span> <span>2018</span></h4>
                <h2>Our Book Store</h2>
               
            </article>
        </div>
        <div class="grid-item grid-item--secondary">
            <img src="./../../../assets/images/booksstore.png" class="object-fit" alt="chair">
        </div>
        <div class="grid-item grid-item--tertiary">
            <img src="./../../../assets/images/booksstore.png" class="object-fit" alt="chair">
        </div>
        <div class="grid-item grid-item--tertiary grid-item--content">
            <article class="article">
               <p>With the click of a button you can buy any book you can think about its</p>
            </article>
        </div>
        <div class="grid-item grid-item--tertiary">
            <img src="./../../../assets/images/booksstore.png" class="object-fit" alt="chair">
        </div>
    </header>
    
    <div class="loading-overlay">
        <span class="loading-overlay__content h1">Welcome To Books Store</span>
    </div>

<!-- <h1>welcome to our book store</h1>
<img src="./../../../assets/images/booksstore.png">
<p>{{locationStore.houseNumber}}   {{locationStore.streetName}}  {{locationStore.city}}</p>
 -->


