
.warpImg{
    width: 20vw;
    height: 18vh;
}
img {
    height: 8vw;
    width: auto;
    display: inline;
  }
  
  #main {
    background-color: #ccc;
    padding: 5em 1em;
    height: 100vh;
  }
  #main .card {
    position: relative;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    color: #333;
    box-shadow: 0.125em 0.25em 0.325em rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 600px) {
    #main .card {
      max-width: 400px;
      padding-right: 1em;
      padding-left: 1em;
    }
  }
  #main .card .book-info {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background: #fff;
  }
  @media (min-width: 600px) {
    #main .card .book-info {
      display: inline-block;
      width: calc(400px - 50%);
      padding-right: 0;
      padding-left: 0;
      box-shadow: none;
    }
  }
  #main .card .title {
    margin-bottom: .125em;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.1;
  }
  #main .card .byline,
  #main .card .rating {
    color: #666;
    font-size: .825em;
    line-height: 1.4;
  }
  #main .card .byline {
    margin-bottom: .5em;
  }
  #main .card .rating {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #main .card .rating .stars {
    display: inline-block;
    height: 20px;
    width: 96px;
    margin-right: .625em;
    background-image: url("http://ui-cloud.com/res/designmoo/Rating_stars_2/previews/rating_stars.png");
    background-position: -154px -207px;
    vertical-align: top;
  }
  #main .card .about {
    position: relative;
    max-width: 75ch;
    max-height: 9ch;
    font-size: .975em;
    line-height: normal;
    overflow: hidden;
  }
  #main .card .about .ellipsis {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 1ch;
    line-height: 1.1;
    background-color: #fff;
  }
  #main .card .image {
    background: cyan;
    border: 0;
  }
  #main .card .image.cover {
    position: relative;
    z-index: 1;
    display: block;
    height: 225px;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0.25em 0.35em 1em rgba(0, 0, 0, 0.6);
  }
  @media (min-width: 600px) {
    #main .card .image.cover {
      display: inline-block;
      margin-top: -2em;
      margin-right: .825em;
      vertical-align: top;
    }
  }
  #main .card .image.person {
    height: 25px;
    width: 25px;
    margin-right: .25em;
    border-radius: 50%;
    vertical-align: middle;
  }
  #main .card .likes {
    margin-top: 1em;
    padding: .625em 1em;
    border-top: .0125em solid #ccc;
  }
  @media (min-width: 600px) {
    #main .card .likes {
      padding-right: 0;
      padding-left: 0;
    }
  }
  #main .card .likes .name {
    font-weight: 700;
  }
  #main .card .image-container {
    position: relative;
  }
  .deleteButton {
    position: relative;
    left: 36vw;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  /* i::before{
    content:url(../../../assets/images/garbageTrash.ico);
    font-size: 5vh;
}  */
.glyphicon1 {
    font-size: 2vw;
    position: absolute;
    bottom: 4vh;
    right: 2vw;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-trash:before {
    content: "\e020";
}

/* ---------------------------------------------------------https://codepen.io/SomnusHermeticus/pen/GyBpD */

@import url(https://fonts.googleapis.com/css?family=Mouse+Memoirs:400,700);
* {
  box-sizing: border-box;
}

html, body {
  font: 16px "Mouse Memoirs";
  background: #ad6932;
  color: #523118;
  width: 100%;
  height: 100%;
}

.header {
  text-align: center;
  padding: 1em 0 2em;
  background-image: repeating-linear-gradient(45deg, #5f391c, #5f391c 100px, #865127 100px, #865127 200px);
  color: #f0dccd;
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.25) inset;
}
.header h1 {
  font-size: 4em;
}
.header p {
  font-size: 1.2em;
  font-style: italic;
}

.cart-container {
  width: 100%;
  height: 280px;
  display: table;
}
.cart-container .empty {
  font-size: 3em;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.cart {
  list-style: none;
  height: 280px;
  width: 10000px;
  cursor: grab;
  position: relative;
  left: 0;
  transform: translate3d(0, 0, 0);
}
.cart .product {
  position: relative;
  width: 200px;
  height: 280px;
  float: left;
}
.cart .product:hover {
  z-index: 1;
}
.cart .product:nth-child(3n+1) .product-preview, .cart .product:nth-child(3n+1) .product-interactions {
  background: #E8B0AF;
}
.cart .product:nth-child(3n+2) .product-preview, .cart .product:nth-child(3n+2) .product-interactions {
  background: #FDDAC4;
}
.cart .product:nth-child(3n) .product-preview, .cart .product:nth-child(3n) .product-interactions {
  background: #F1D5A5;
}
.cart .product .product-preview {
  padding: 1em;
  height: 280px;
  position: relative;
}
.cart .product .product-preview .thumbnail {
  width: 100%;
  min-height: 120px;
  max-height: 200px;
}
.cart .product .product-preview .thumbnail .image {
  width: 100%;
  margin-top: 1em;
}
.cart .product .product-preview .product-paper {
  position: absolute;
  height: 75px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.65);
  padding: 1em;
  display: block;
  width: 100%;
  margin-left: -1em;
}
.cart .product .product-preview .product-name {
  font-size: 1.6em;
  text-align: center;
}
.cart .product .product-preview .product-price {
  text-align: center;
  font-size: 1.2em;
}
.cart .product .product-quantity {
  font-size: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  padding: 0.35em 0;
  border-radius: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: #fff;
  transform: rotateZ(10deg);
  backface-visibility: hidden;
}
.cart .product:hover .product-interactions, .cart .product .visible {
  opacity: 1 !important;
  transform: perspective(600px) rotateX(0deg) !important;
}
.cart .product .product-interactions {
  position: absolute;
  bottom: 75px;
  width: 100%;
  height: 60px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  transform-origin: 50% 100% 0;
  transform: perspective(600px) rotateX(90deg);
  opacity: 0;
  transition: 0.4s all ease-in-out;
  display: table;
}
.cart .product .product-interactions .button {
  width: 32%;
  height: 60px;
  float: left;
  text-align: center;
  font-size: 5em;
  line-height: 0.75em;
  color: #999;
  background: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  user-select: none;
  transition: 0.1s all ease-in-out;
  transform-origin: 50% 0 0;
  transform: perspective(600px);
  z-index: 0;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.cart .product .product-interactions .button.plus {
  color: #7fb034;
}
.cart .product .product-interactions .button.minus {
  color: #a0ce5a;
}
.cart .product .product-interactions .button.del:after {
  content: "+";
  position: absolute;
  color: red;
  left: 50%;
  margin-left: -0.15em;
  transform: rotateZ(45deg);
}
.cart .product .product-interactions .button:nth-child(1), .cart .product .product-interactions .button:nth-child(2) {
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
}
.cart .product .product-interactions .button:nth-child(2) {
  width: 36%;
}
.cart .product .product-interactions .button:active {
  font-size: 7em;
  background: #fff !important;
  box-shadow: 0 0 0 10px #fff !important;
  z-index: 10;
  line-height: 0.45em;
}
.cart .product .product-interactions .button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.bill {
  margin: 0;
  padding: 1em;
  font-size: 1.4em;
  line-height: 1.6em;
  background: #F1D5A5;
  color: #48320b;
  width: 100%;
}
.bill .total {
  font-weight: bold;
  font-size: 1.6em;
}
.bill tr td {
  width: 50%;
  padding: 0.25em 20px;
}
.bill tr .label {
  text-align: right;
}

.actions {
  text-align: center;
  position: relative;
  width: 100%;
  height: 6em;
}
.actions .big-button {
  position: absolute;
  cursor: pointer;
  user-select: none;
  padding: 1em;
  width: 100%;
  font-size: 1.5em;
  transition: 0.1s all ease-in-out;
  box-shadow: 0 0 0 0 #ed2553;
}
.actions .big-button:active {
  z-index: 10;
  font-size: 2em;
}
.actions .big-button.return {
  background: #ad6932;
  color: #f0dccd;
}
.actions .big-button.return:hover {
  background: #ed2553;
}
.actions .big-button.return:before {
  content: "←";
}
.actions .big-button.go {
  background: #a0ce5a;
  color: #334715;
  font-size: 2em;
}
.actions .big-button.go:hover {
  background: #7fb034;
}
.actions .big-button.go:active {
  font-size: 2.5em;
  background: #bede8e;
  box-shadow: 0 0 0 10px #bede8e;
}
